@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* ================= HEADER ================= */

header{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    font-size:large;
    font-weight:bold;

    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:146px;

    background:rgba(0,0,0,.25);
    backdrop-filter: blur(4px);

    z-index:1000;
}
#logo{
    text-decoration:none;
    height: 110px;
    width: 220px;
}

nav{
    font-family:"Outfit",sans-serif;
}
.linksNav{
    position:relative;
    display:inline-block;

    padding:10px;
    margin:10px;

    color:#f5f5f5;
    font-size:18px;
    text-decoration:none;

    border-bottom: 3px solid transparent; 
    transition: color 0.3s ease;
}
.linksNav::after{
    content:"";
    position:absolute;
    left:50%;
    bottom:0;
    width:0;
    height:3px;
    background:currentColor;
    transform:translateX(-50%);
    transition:0.3s  all ease;
}
#linkDecoracao:hover::after,
#linkSobre:hover::after,
#linkEspaco:hover::after,
#linkContato:hover::after,
#linkHome:hover::after{
    width:80%;
}

#linkLocaliza{
    color:#36c14c;
    font-weight:bold;
    text-decoration:underline;
    text-decoration-thickness:3px;
    text-underline-offset:7px;
}
#linkHome:hover{
    color:red;
    transform:translateY(-5px);
}
#linkSobre:hover{
    color:#36c14c;
    transform:translateY(-5px);
}
#linkEspaco:hover{
    color:#008eff;
    transform:translateY(-5px);
}
#linkDecoracao:hover{
    color:red;
    transform:translateY(-5px);
}
#linkContato:hover{
    color:#008eff;
    transform:translateY(-5px);
}

/* ================= MAIN ================= */

main{
    height: 1350px;
    font-family:"Outfit",sans-serif;
    background:#f5f5f5;
}

/* ================= BANNER ================= */

.banner-localizacao{
    position:relative;
    height: 600px;
    
    padding-top: 146px;

    background-image:url("../assets/img/localizacao.png");
    background-size: 100%;
    background-position:center;
    overflow:hidden;
}
.banner-localizacao::before{
    content:"";
    position:absolute;
    inset:0;

    background:rgba(0,0,0,.55);

    z-index:1;
}
.texto-localiza{
    position: relative;
    z-index: 2;

    color: #f5f5f5;

    margin-top: 260px;
    margin-left: 80px;
    max-width: 700px;
}
.texto-localiza h1{
    margin-bottom: 20px;
    text-shadow: 3px 3px 15px rgba(0,0,0,.5);
    font-size: 60px;
}
.texto-localiza p{
    margin-top: 20px;
    font-size: 24px;
    line-height: 1.7;
}

/* ================= CONTEÚDO ================= */

.localizacao{
    display:flex;
    align-items:center;
    gap:60px;
    
    max-width:1200px;
    margin:0px auto;
    margin-top:50px;
}
.texto-localizacao{
    width:45%;
	flex:1;
}
.texto-localizacao h1{
    font-size:60px;
    color:#36c14c;
    margin-bottom:25px;
}
.texto-localizacao p{
    font-size:24px;
    line-height:1.8;
}
.dados{
    margin-top:30px;
}
.dados p{
    font-weight:bold;
}

#maps{
    padding:80px 8%;
}
.mapa-localizacao{
    width:50%;
	flex:0.9;
}
.mapa-localizacao iframe{
    width:100%;
    height:450px;
    border:none;
	border-radius:15px;
    box-shadow:0 8px 25px rgba(0,0,0,.4);
}

/* ================= FOOTER ================= */

footer{
    height: 200px;
    font-family: "Outfit", sans-serif;
    background: #f5f5f5;
}
.colunas{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 180px;
    background: transparent;
}
.footer-colunas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}  

#primeira-coluna{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 265px;
}
.logo-footer{
    height: 100px;
    width: 200px;
    margin-bottom: 10px;                                                                  
}
#redes-sociais{
    height: 25px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#redes-sociais h3{
    font: bold;
    position: relative;
    top: -3px;
}
.logoSociais{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    line-height: 1;
}

#coluna-central{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    line-height: 27px;
}
.tres-links{
    display: flex;
    flex-direction: column;
    font-size: larger;
}
.links-footer{
    color: black;
    text-decoration: none;
    transition:0.2s;
}
#link-vermelho:hover{
    color:red;
}
#link-verde:hover{
    color:#36c14c;
}
#link-azul:hover{
    color:#008cff;
}

#footer-encontre{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 265px;
    gap: 12px;
}
.footer-linha {
    display: flex;
    align-items: flex-start; 
    gap: 8px;
}
.footer-linha p {
    margin: 0;
    line-height: 1.5;
}
#rotulo{
    padding-top: 3px;
    background: black;
    color: #36c14c;
    text-align: center;
    font-size: bolder;
    height: 25px;
}

/* ================= WPP FIXO ================= */

#wpp-link-fixo{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
#wpp-link-fixo img {
    width: 60px;
    height: auto;
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.3));
    transition: transform 0.3s ease;
}
#wpp-link-fixo img:hover {
    transform: scale(1.1);
}