@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/* ================= HEADER ================= */

header {
    display: flex;
    justify-content:space-evenly; 
    align-items: center;
    font-size: large;
    font-weight: bold;
    
    backface-visibility: 20%;
    
    position: fixed;
    top: 0;
    left: 0;
    height: 146px;
    width: 100%;
    
    background: rgba(0,0,0,.25);
    backdrop-filter: blur(4px);

    z-index: 1000;
}
#logo{
    text-decoration:none;
    height: 110px;
    width: 220px;
}

nav {
    font-family: "Outfit", sans-serif;
}
.linksNav{
    position:relative;
    display:inline-block;

    padding:10px;
    margin:10px;

    color:#f5f5f5;
    font-size:18px;
    text-decoration:none;

    border-bottom: 3px solid transparent; 
    transition: color 0.3s ease;
}
.linksNav::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: currentColor;
    transform: translateX(-50%);
    transition: 0.3s all ease;
}
#linkDecoracao:hover::after,
#linkSobre:hover::after,
#linkEspaco:hover::after,
#linkLocaliza:hover::after,
#linkContato:hover::after{
    width: 80%;
}

#linkHome{
    color: red;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 7px;
}
#linkSobre:hover{
    color: #36c14c;
    transform: translateY(-5px);
}
#linkEspaco:hover{
    color: #008eff;
    transform: translateY(-5px);
}
#linkDecoracao:hover{
    color: red;
    transform: translateY(-5px);
}
#linkLocaliza:hover{
    color: #36c14c;
    transform: translateY(-5px);
}
#linkContato:hover{
    color: #008eff;
    transform: translateY(-5px);
}

/* ================= MAIN ================= */

main {
    min-height: 100vh;
}

/* ================= VIDEO BANNER ================= */

.video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Ocupa 100% da altura da tela */
    overflow: hidden;
}
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz o vídeo cobrir toda a tela sem distorcer */
    z-index: 1; /* Mantém atrás do conteúdo */
}
/* Camada escura opcional para destacar o texto */
.video-container::after {
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 50% de opacidade preta */
  z-index: 2;
}

/* ================= CONTEUDO ================= */

#content {
  position: relative;
  z-index: 3; /* Fica acima do vídeo e do filtro escuro */
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  margin: 0px 69px;
  
}
#content p{
    font-size: 40px;
    font-family: "Outfit", sans-serif;
    font: bolder;
}
.texto-azul{
    color: #008eff;
    font-size: 60px;
    font-family: "Outfit", sans-serif;
}
.texto-verde{
    color: #36c14c;
    font-size: 60px;
    font-family: "Outfit", sans-serif;
}
.texto-vermelho{
    color: red;
    font-size: 60px;
    font-family: "Outfit", sans-serif;
}
.texto-amarelo{
    color: #f5de84;
    font-family: "Outfit", sans-serif;
}

/* ================= ONDAS ================= */

.custom-shape-divider-bottom {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: visible;
    line-height: 0;
    z-index: 4;
}
.custom-shape-divider-bottom svg {
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateX(180deg);
    
    filter:
        drop-shadow(0 20px 20px rgba(0,0,0,.20))
        drop-shadow(0 40px 40px rgba(0,0,0,.25))
        drop-shadow(0 60px 60px rgba(0,0,0,.20));
}
.custom-shape-divider-bottom .shape-fill {
    fill: rgb(252, 252, 252);
}
@media (max-width: 767px) {
    .custom-shape-divider-bottom svg {
        width: calc(150% + 1.3px);
        height: 120px;
    }
}
.custom-shape-divider-bottom path:last-child {
    filter: drop-shadow(0 10px 15px rgba(87, 87, 87, 0.35));

}

#onda-2 {
    fill: #36c14c;
}
#onda-3 {
    fill: #f5de84;
}
#onda-4 {
    fill: #ff0000
}
#onda-5 {
    fill: #008cff
}
#onda-6 {
    fill: #D5D5D5       
}

/* ================= FOOTER ================= */

footer{
    height: 200px;
    font-family: "Outfit", sans-serif;
    background: #ffffff;
    box-shadow: inset 0 80px 120px rgba(0, 0, 0, 0.191);
}
.colunas{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 180px;
    background: transparent;
}
.footer-colunas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}  

#primeira-coluna{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 265px;
}
.logo-footer{
    height: 100px;
    width: 200px;
    margin-bottom: 10px;                                                                  
}
#redes-sociais{
    height: 25px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#redes-sociais h3{
    font: bold;
    position: relative;
    top: -3px;
}
.logoSociais{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    line-height: 1;
}

#coluna-central{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    line-height: 27px;
}
.tres-links{
    display: flex;
    flex-direction: column;
    font-size: larger;
}
.links-footer{
    color: black;
    text-decoration: none;
    transition:0.2s;
}
#link-vermelho:hover{
    color:red;
}
#link-verde:hover{
    color:#36c14c;
}
#link-azul:hover{
    color:#008cff;
}

#footer-encontre{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 265px;
    gap: 12px;
}
.footer-linha {
    display: flex;
    align-items: flex-start; 
    gap: 8px;
}
.footer-linha p {
    margin: 0;
    line-height: 1.5;
}
#rotulo{
    padding-top: 3px;
    background: black;
    color: red;
    text-align: center;
    font-size: bolder;
    height: 25px;
}

/* ================= WPP FIXO ================= */

#wpp-link-fixo{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
#wpp-link-fixo img {
    width: 80px;
    height: auto;
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.3));
    transition: transform 0.3s ease;
}
#wpp-link-fixo img:hover {
    transform: scale(1.1);
}

/* ================= RESPONSIVIDADE ================= */
@media screen and (max-width: 768px) {
    footer{
        height: auto;
    } 
}